
<style>
   
  </style>

<!-- <div class="toolbar" role="banner">
   
    <span>Welcome</span>
      <div class="spacer"></div>
      <a style="color:#e6ebf1"  routerLink="/login">
        Prijavi se
      </a>
      <a  style="color:#e6ebf1">
        Registruj se
      </a>
  </div> -->

  
  <!-- <app-komponenta></app-komponenta>  -->
  <mat-toolbar color="primary">
    <span class="logo">
        <img class="web-shop-logo" src="assets/images/web-shop-logo-white.png" (click)="goOnHomepage()" />
    </span>
    <div class="spacer" ></div>
    <a class="headerItem" routerLink="/login" *ngIf="!this.isLoggedIn()" >
      Prijavi se
    </a>
    <div class="divider" *ngIf="!this.isLoggedIn()"></div>
    <a  class="headerItem" routerLink="/registration" *ngIf="!this.isLoggedIn()">
      Registruj se
    </a>
    <a class="headerItem" *ngIf="this.isLoggedIn()" routerLink="">Pocetna</a>
    <div class="divider" *ngIf="this.isLoggedIn()"></div>
    <a class="headerItem" *ngIf="this.isLoggedIn()" routerLink="/profile" (click)="profileNavigator(1)" >Moje Ponude</a>
    <div class="divider" *ngIf="this.isLoggedIn()"></div>
    <!-- <mat-icon *ngIf="this.isLoggedIn()" (click)="onUserSuportIconClick()">help</mat-icon > -->
      <img src="assets/images/user-support-icon.png" *ngIf="this.isLoggedIn()" (click)="onUserSuportIconClick()" style="height: 40px;width: 50px;">
      <div class="divider" *ngIf="this.isLoggedIn()"></div>
    <a class="headerItem" *ngIf="this.isLoggedIn()" routerLink="/profile" (click)="profileNavigator(0)"> {{this.loggedUser.username}}</a>
    <div class="divider" *ngIf="this.isLoggedIn()"></div>
    <!-- <button mat-button (click)="toggleSideNavigation()" *ngIf="this.isLoggedIn()" style="background-color: transparent;border:0px"> -->
        <img src="assets/images/meni-img.png" style="height: 60px;width:60px;"(click)="toggleSideNavigation()" *ngIf="this.isLoggedIn()" >
        <!-- <mat-icon>menu</mat-icon> -->
    <!-- </button> -->
    
    <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item >Moje ponude</button>
        <button mat-menu-item >Moje kupovine</button>
        <button mat-menu-item >Moj profil</button>
        <button mat-menu-item >Kontaktiraj podrsku</button>
    </mat-menu> -->
  </mat-toolbar>
  <mat-sidenav class="sidenav" style="color: #3f51b5;" [(opened)]="isSideNavigationOpen" mode="over" class="sidenav">
    <mat-nav-list class="menu-design">
        <a mat-list-item routerLink="/profile" (click)="profileNavigator(0)"><div style="color: white;">Moj profil</div></a>
        <a  mat-list-item routerLink="/profile" (click)="profileNavigator(1)"><div style="color: white;">Moje ponude</div></a>
        <a  mat-list-item routerLink="/profile" (click)="profileNavigator(2)"><div style="color: white;">Moje kupovine</div></a>
        <a  mat-list-item routerLink="/user-support"><div style="color: white;">Kontaktiraj podrsku</div></a>
        <a  mat-list-item (click)="logout()"><div style="color: white;">Odjavi se</div></a>
    </mat-nav-list>
</mat-sidenav>
  <!-- <mat-card>
    <div class="container">
        <div class="search-container">
            <mat-form-field style="width: 100%">
                <input matInput type="search" [(ngModel)]="searchText" (keyup)="getSuggestions()" placeholder="Pretraga" name="search" > -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
                    {{ suggestion }}
                  </mat-option>
                </mat-autocomplete> -->
            <!-- </mat-form-field>
            <div *ngIf="suggestions.length > 0">
              <ul>
                <li *ngFor="let suggestion of suggestions">{{suggestion}}</li>
              </ul> 
            </div>
        </div>
        <div class="button-container">
            <button mat-icon-button (click)="openPublishModal()">
                <mat-icon>add_to_photos</mat-icon>
                <mat-label>Objavi oglas</mat-label>
              </button>
        </div>
    </div>
  </mat-card> -->

  <router-outlet></router-outlet>

  <!-- <div class="container">
    <mat-form-field>
        <mat-label>Kategorija</mat-label>
        <select matNativeControl >
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cijena</mat-label>
        <select matNativeControl >
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </mat-form-field>
  </div>
  <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
          <mat-card class="example-card" *ngFor="let card of products" (click)="onCardClick(card.id)">
        <mat-card-content class="card-content">
        <div class="image-container">
            <div *ngIf="card.images.length > 0">
                <img mat-card-lg-image style="max-height: 200px" [src]="card.images[0].path" >
            </div>
        </div>
        <div class="details-container">
            <mat-card-title class="title">{{card.title}}</mat-card-title>
            <mat-card-subtitle class="category">{{card.categoryName}}</mat-card-subtitle>
        </div>
        <div class="footer">
            <div class="user">{{card.userUsername}}</div>
            <div class="price">{{card.price}} KM</div>
        </div>
          
        </mat-card-content>
      </mat-card></mat-grid-tile> -->


      <!-- <mat-grid-tile><mat-card class="example-card">
      <mat-card-content class="card-content">
        <div class="image-container">
            <div>
                <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
            </div>
        </div>
        <div class="details-container">
            <mat-card-title class="title">Jasdasdaasd</mat-card-title>
            <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
        </div>
        <div class="footer">
            <div class="user">asdasd23</div>
            <div class="price">232 KM</div>
        </div> 
        </mat-card-content>
      </mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card class="example-card">
        <mat-card-content class="card-content">
          <div class="image-container">
              <div>
                  <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
              </div>
          </div>
          <div class="details-container">
              <mat-card-title class="title">Jasdasdaasd</mat-card-title>
              <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
          </div>
          <div class="footer">
              <div class="user">asdasd23</div>
              <div class="price">232 KM</div>
          </div> 
          </mat-card-content>
        </mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card class="example-card">
            <mat-card-content class="card-content">
              <div class="image-container">
                  <div>
                      <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
                  </div>
              </div>
              <div class="details-container">
                  <mat-card-title class="title">Jasdasdaasd</mat-card-title>
                  <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
              </div>
              <div class="footer">
                  <div class="user">asdasd23</div>
                  <div class="price">232 KM</div>
              </div> 
              </mat-card-content>
            </mat-card></mat-grid-tile>
            <mat-grid-tile><mat-card class="example-card">
                <mat-card-content class="card-content">
                  <div class="image-container">
                      <div>
                          <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
                      </div>
                  </div>
                  <div class="details-container">
                      <mat-card-title class="title">Jasdasdaasd</mat-card-title>
                      <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
                  </div>
                  <div class="footer">
                      <div class="user">asdasd23</div>
                      <div class="price">232 KM</div>
                  </div> 
                  </mat-card-content>
                </mat-card></mat-grid-tile>
                <mat-grid-tile><mat-card class="example-card">
                    <mat-card-content class="card-content">
                      <div class="image-container">
                          <div>
                              <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
                          </div>
                      </div>
                      <div class="details-container">
                          <mat-card-title class="title">Jasdasdaasd</mat-card-title>
                          <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
                      </div>
                      <div class="footer">
                          <div class="user">asdasd23</div>
                          <div class="price">232 KM</div>
                      </div> 
                      </mat-card-content>
                    </mat-card></mat-grid-tile>
                    <mat-grid-tile><mat-card class="example-card">
                        <mat-card-content class="card-content">
                          <div class="image-container">
                              <div>
                                  <img mat-card-image style="max-height: 200px" src="assets/images/iphone.jpg">
                              </div>
                          </div>
                          <div class="details-container">
                              <mat-card-title class="title">Jasdasdaasd</mat-card-title>
                              <mat-card-subtitle class="category">Kategorija</mat-card-subtitle>
                          </div>
                          <div class="footer">
                              <div class="user">asdasd23</div>
                              <div class="price">232 KM</div>
                          </div> 
                          </mat-card-content>
                        </mat-card></mat-grid-tile> -->


  <!-- </mat-grid-list>  -->

